    <meta property="fb:app_id" content=""/>
    <meta property="og:site_name" content="dogyear.me (@dogyearm）" />
    <meta property="og:title" content="dogyear.me" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="http://dogyear.me/"/>
    <meta property="og:description" content="なるほど" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="dogyear.me">
    <meta name="twitter:description" content="">
    <meta name="twitter:image:src" content="">
    <meta name="twitter:domain" content="dogyear.me">
    <meta name="keywords" content="ブロックチェーン, Blockchain, ビットコイン, Bitcoin, プログラマ, エンジニア, Augur, Ethereum" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
