{{ partial "head.html" }}
{{ partial "header.html" . }}
      <section id="main">
        <p>This is the personal homepage of Yutaro Iwamoto.<br/>
        I like building software (using Ruby, BlockChain), cooking and music.</p>
        <p>In case you need my helping hands, send electronic mail.<br/>
        <a href="mailto:dogyearm.iwmt@gmail.com" target="_blank">dogyearm.iwmt@gmail.com</a></p>
        </p>
        <ul>
          <li><a href="https://github.com/dogyearm" target="_blank">github</a></li>
          <li><a href="http://qiita.com/dogyear" target="_blank">Qiita</a></li>
          <li><a href="https://twitter.com/dogyearm" target="_blank">twitter</a></li>
        </ul>
        <p>====</p>
        <h2>Writing</h2>
        <div>
{{ range .Data.Pages }}
{{ .Render "summary" }}
{{ end }}
        </div>
      </section>
{{ partial "footer.html" . }}
